
<div class="ui container">
  <h1 class="ui center aligned header">Welcome to message me</h1>

  <h3 class="ui center aligned medium icon header">
    <i class="circular orange power icon"></i>
    Log in to continue
  </h3>

  <div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Username">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui blue submit button">Login</div>
        </div>
      </div>
      <div class="middle aligned column">
        <div class="ui big orange button">
          <i class="signup icon"></i>
          Sign Up
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
  </div>

</div>